:root {
    --main-color: #EE4D2D;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --navbar-height: 32px;
    --header-height: 120px;
    --header-search-height: calc(var(--header-height) - var(--navbar-height));
    --star-gold-color: #FFCE3E;
    --header-sort-bar-height: 46px;
}

* {
    box-sizing: inherit;
}

html {
    /* 1 rem sẽ = 12px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.mr-8 {
    margin-right: 8px;
}

.background-white {
    background-color: var(--white-color);
}

/* Responsive */
.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__col-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__col-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__col-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

@keyframes showOut {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    animation: showOut linear .2s;
    z-index: 10;
}

.displayModal {
    display: flex;
}

.hideModal {
    display: none;
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    animation: growth linear .2s;
}

/* Button style */
.btn {
    min-width: 90px;
    height: 36px;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 12px;
    line-height: 36px;
    cursor: pointer;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, .07);
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--main-color);
}

.btn--size-s {
    height: 32px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
}

/* Selection */
.select-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 160px;
    height: 36px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    position: relative;
}

.select-input:hover .select-input__lists {
    display: block;
}

.select-input__label,
.select-input__icon {
    font-size: 1.4rem;
}

.select-input__lists {
    position: absolute;
    left: 0;
    right: 0;
    top: 27px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 16px;
    list-style: none;
    display: none;
    z-index: 1;
}

.select-input__link {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 4px 0;
}

.select-input__link:hover {
    color: var(--main-color);
}

/* Phân trang */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pagination-item {
    margin: 0 12px;
}

.pagination-item--active .pagination-item__link {
    color: var(--white-color);
    background-color: var(--main-color);
}

.pagination-item--active .pagination-item__link:hover {
    opacity: 0.8;
}

.pagination-item__link {
    --height: 30px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
}